html,
body {
  height: 100%;

  margin: 0;
}

.details-page {
  background-color: var(--bg_body);
}

ul {
  padding: 0;
  margin: 0;
}

.inline-margin-content {
  margin-inline: auto;

  width: 50%;
  min-width: 855px;
}

.flex-table-info-footer-details {
  display: flex;
  gap: 10%;
  flex-direction: column;
}
.container-single-topic-details {
  max-width: 100vw;
  background-color: #333333;

  padding: 30px 0;
}

.container-text-info-details-info-details {
  position: relative;
}
.container-sub-side-info-topic-details {
  width: 290px;
  top: 0;
  right: 0;
  box-shadow: 0px 0px 3px 2px #00000029;
  background-color: #ffffff;
  position: absolute;
  padding-bottom: 15px;
}

.background-image-topic-details {
  width: 100%;
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  height: 200px;
  object-fit: cover;
}

.contaniner-algin-item {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.details-sub-fav-info-align {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container-topic-text-topic-details {
  height: fit-content;
  width: 530px;
}

.light-text-details {
  color: #ededed;
}
.text-topic-title {
  font-weight: 700;
}

.paragraph-topic-info-details {
  font-weight: 400;
  font-size: medium;
  margin-bottom: 0;
  margin-top: 20px;
}

.text-type-topic-details {
  color: var(--brand-secondary);
  font-weight: 400;
  font-size: 20px;
}

.container-details-topic-rating-single-topic {
  font-size: 13px;
  color: orange;
}

.container-naviaction-text-details {
  gap: 7px;
  border: 1px solid #dddddd;
  padding-top: 10px;
  padding-bottom: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #333333;
}

.navication-container-img-heart-details {
  color: white;
  font-size: 26px;
}

.navication-container-add-fav-topic-details {
  display: flex;
  background-color: var(--brand-secondary);
  align-items: center;
  justify-content: center;

  border: none;
  height: 45px;
  gap: 10px;
  font-size: 18px;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.span-text-text-btn-add-fav-topic-details {
  font-size: medium;
  font-weight: 400;
}

.title-single-topics-details {
  font-weight: 700;
  font-size: 15px;
  max-width: 100%;
}

.text-extra-details {
  font-size: 15px;
  max-width: 100%;
  font-weight: 400;
}

.container-title-author-topics-details-flex {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
  flex-wrap: wrap;
}

.text-author-details {
  color: var(--brand-primary);
  text-decoration: underline;
  max-width: 100%;
}

.table-info-details {
  background-color: var(--bg_default);
  width: 530px;
  border-radius: 5px;
  height: fit-content;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
}

.cridits-text-extra-details {
  font-weight: 200;
  text-align: center;
  font-size: 13px;
}

.table-info-details,
.table-info-details > * {
  border-color: var(--lines-color);
  border-width: 1px;
}
.container-row-info-elemnt-details {
  border-top-style: solid;
}

.container-row-info-first-elemnt-details {
  border-radius: 4px 4px 0 0;
}
.div-row-info-last-elemnt-details {
  border-radius: 0 0 4px 4px;
}
.container-row-info-elemnt-details {
  display: flex;
  gap: 12px;
  padding: 15px 0;
  padding-left: 20px;
  height: fit-content;
  background-color: transparent;
  align-items: center;
}

.title-info-row-table-details {
  font-size: large;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}

.row-info-row-table-details {
  font-weight: 400;
  width: 90%;
  font-size: 16px;
}

.container-text-info-table-info-details {
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 285px;
  height: fit-content;
}

.icon-checkmark-info-details {
  font-size: 20px;
  color: var(--brand-secondary);
}

.container-table {
  margin-top: 30px;
  flex-direction: column;
  height: fit-content;
  width: 530px;
}

.main-menu-single-navication {
  line-height: 30px;
}

.website-main-header {
  height: 60px;
  background-color: var(--bg_default);
}

.text-topic-title,
.text-type-topic-details {
  font-size: 20px;
}

.container-text-end-page {
  padding-bottom: 70px;
  padding-top: 25px;
  height: fit-content;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 100%;
}
