body {
  margin: 0;
  background-color: var(--bg_default);
}

* {
  font-family: var(--font-family-Nunito-Sans);
  box-sizing: border-box;
}
.website-main-header {
  height: 75px;
  position: sticky;
}

.website-main-nav-bar {
  display: flex;
  background-color: var(--bg_default);
  height: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.text-color-mood-change {
  color: var(--body-text);
}

.website-main-header,
.fav-container,
.main-menu-single-navication {
  background-color: var(--bg_default);
}

.page-main-menu-flex-navication {
  display: flex;
  width: fit-content;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.page-main-title {
  color: var(--brand-primary);
  font-weight: 700;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.main-menu-single-navication {
  display: inline-block;
  line-height: 30px;
  border-color: var(--lines-color);
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  padding: 1px 10px;
  width: fit-content;
}

.main-menu-single-navication > * {
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
}

.main-menu-href-navication-text {
  font-weight: 700;
  margin-left: 0px;
  font-size: 15px;
}

.main-menu-icon-single-navication {
  font-size: 20px;
}

.container-welcome-contain-triangles {
  width: 100%;
  position: relative;
  border-bottom: 1px solid transparent;
}

.shape-triangle-left,
.shape-triangle-right {
  top: 0;
  position: absolute;
}

.shape-triangle-right {
  left: 0;
  left: 0;
  width: 90vw;
  height: 92.6px;
  background-image: linear-gradient(
    to right top,
    var(--brand-primary) 55%,
    var(--brand-secondary)
  );
  clip-path: polygon(0% 0, 100% 0%, 0 60%);
}

.shape-triangle-left {
  right: 0;
  width: 90vw;
  height: 92.6px;
  background-color: var(--brand-secondary);
  clip-path: polygon(0% 0%, 100% 60%, 100% 0%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container-welcome-contain-text {
  padding-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.8rem;
}

.container-welcome {
  background-color: var(--bg_default);
}

.main-title-welcome-text {
  color: var(--brand-secondary);
  font-weight: 700;
  max-width: 100%;
  width: 260px;
  font-size: 20px;
}

.main-discritipn-welcome-text {
  font-weight: 400;
  max-width: 100%;
  width: 540px;
  font-size: 18px;
}

.container-welcome-container-home-Page-Content {
  background-color: var(--bg_body);
  height: 100%;
  padding-top: 15px;
}

.container-text-end-page {
  height: 85px;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: auto;
  gap: 5px;
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
  flex-wrap: wrap;
}

.footer-img-heart-icon {
  width: 25px;
}

.icon-heart-container-end-page {
  font-size: 25px;
  color: var(--heart-color);
}

/*************favorite Style*************/

.container-fav-topics-flex {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}

.fav-container {
  height: fit-content;
  width: 100%;
  background-color: var(--bg_default);
  padding-bottom: 15px;
  z-index: 1000;
  position: sticky;
  bottom: 0;
  display: none;

  transition: transform 0.5s ease-out;
}

.fav-topic {
  width: 160px;
  height: 125px;
  box-shadow: 0px 0px 3px 2px var(--shadow);
  border-radius: 5px;
}
.background-fav {
  width: 100%;
  height: 70px;
  border-radius: 5px 5px 0 0;
  background-color: var(--bg_default);
  object-fit: cover;
}

.fav-topics-container {
  width: fit-content;
  margin-left: 35px;
  margin-right: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.fav-title {
  font-size: 20px;
}

.fav-topic-info {
  margin-left: 10px;
  overflow: hidden;
  margin-right: 10px;
}

.fav-topic-title {
  font-size: 18px;
  font-weight: 700;
}

.text-container-end-page,
.text-copy-right-container-end-page,
.text-year-container-end-page {
  font-weight: 700;
}

.text-copy-right-container-end-page {
  font-size: 20px;
}
