
html,body {
  height: 100%;

  margin: 0;
}


.body-details-page{
  background-color: var(--light-mode-bg_body);

}
.section-details-page {
  height: fit-content;
}

.flex-table-info-footer-details {
  display: flex;
  gap: 10%;
  flex-direction: column;
}
.section-topic-details {
  max-width: 100vw;
  background-color: var(--light-mode-body-text);
  height: 285px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.div-img-btn-topic-details {
  width: 290px;
  height: 410px;
  box-shadow: 0px 0px 5px 1px var(--dark-mode-lines-color);

  background-color: var(--light-mode-bg_default);
  margin-top: 30px;
}

.img-topic-details {
  width: 99%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
  height: 200px;
}

.div-topic-text-topic-details {
  margin-top: 25px;
  height: 200px;

  width: 535px;
}

.light-text-details {
  color: var(--dark-mode-body-text);
}
.h2-text-topic-title {
  font-weight: 700;
}

.p-topic-info-details {
  font-weight: 400;
  font-size: 15px;
  font-size: medium;
}

.h5-text-type-topic-details {
  color: var(--brand-secondary);
  font-weight: 400;
  font-size: 20px;
}

.div-details-topic-rating-single-topic {
  font-size: 13px;
  color: orange;
}

.div-btn-text-details {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid var(--light-mode-lines-color);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-img-heart-details {
  color: white;
  font-size: 25px;
}

.btn-add-fav-topic-details {
  display: flex;
  background-color: var(--brand-secondary);
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 45px;
  gap: 10px;
}

.span-text-btn-add-fav-topic-details {
  font-size: medium;
  font-weight: 400;
}

.h5-title-single-topics-details {
  font-weight: 700;
  font-size: 15px;
}

.span-text-extra-details {
  font-size: 15px;
  font-weight: 400;
}

.div-title-author-topics-details-flex {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.span-text-author-details {
  color: var(--brand-primary);
  text-decoration: underline;
}

.section-table-info-details {
  background-color: var(--light-mode-bg_default);
  width: 535px;
  border-radius: 5px;
  height: 360px;
}

.div-row-info-elemnt-details,
.section-table-info-details {
  border: 1px solid var(--light-mode-lines-color);
}

.div-row-info-first-elemnt-details {
  border-radius: 4px 4px 0 0;
}
.div-row-info-last-elemnt-details {
  border-radius: 0 0 4px 4px;
}
.div-row-info-elemnt-details {
  display: flex;
  gap: 12px;
  padding-left: 20px;
  height: 50px;
  background-color: transparent;
  align-items: center;
}

.h1-title-info-row-table-details {
  font-size: large;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}

.h4-info-row-table-details {
  font-weight: 400;
}

.div-text-info-table-info-details {
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 285px;
  height: fit-content;
}

.icon-checkmark-info-details {
  font-size: 20px;
  color: var(--brand-secondary);
}

.div-flex-table-footer {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.header-href {
  line-height: 30px;
}

.website-main-header {
  height: 60px;
}

.iframe-main-header {
  height: 10.5rem;
}

.section-topic-details {
  height: 270px;
}

.h2-text-topic-title,
.h5-text-type-topic-details {
  font-size: 20px;
}

.section-footer {
  margin-bottom: 70px;
  margin-top: 15px;
  height: fit-content;
  margin-right: unset;
  margin-left: auto;
}
