@media (max-width: 915px) {
  .section-topic-details {
    background: transparent;
    height: fit-content;
    flex-direction: column-reverse;
  }
  .div-topic-text-topic-details,
  .div-img-btn-topic-details {
    margin-left: auto;
    margin-right: auto;
  }

  .div-img-btn-topic-details {
    margin-top: 50px;
    height: 360px;
  }

  .div-text-info-table-info-details {
    gap: 15px;
  }
  .div-topic-text-topic-details {
    background-color: var(--dark-mode-bg_body);
    width: 100%;
    height: fit-content;
  }

  .img-topic-details {
    height: unset;
  }
  .div-topic-text-topic-details > * {
    margin-left: 50px;
    margin-right: 50px;
  }

  .p-topic-info-details {
    padding-bottom: 30px;
  }
  .h5-text-type-topic-details {
    padding-top: 30px;
  }

  .section-table-info-details {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .section-details-page {
    /* width: 100%; */
    height: 100%;
  }
}

@media (max-width: 600px) {
  .header-href {
    padding: 1px 1rem;
  }

  .header-href-span-text {
    display: none;
  }

  .website-main-header {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .section-welcome-div-text {
    margin-top: 2.5rem;
    margin-left: 1.5rem;
  }

  .div-triangle-right {
    clip-path: polygon(0% 0, 100% 0%, 0 40%);
  }

  .div-triangle-left {
    clip-path: polygon(0% 0%, 100% 40%, 100% 0%);
  }

  .div-search-inputs,
  .iframe-serchbar {
    height: 95px !important;
  }

  .srch-bar-sec-input,
  .srch-bar-three-input {
    width: 50% !important;
  }

  .first-input-form {
    width: 100% !important;
  }

  .search-bar {
    border-radius: 10px 10px 0 0 !important;
  }

  #filter-selector-serch-bar {
    border-radius: 0 0 10px 0;
  }

  #sort-selector-serch-bar {
    border-radius: 0 0 0 10px;
  }

  .div-dividing-hide {
    display: none;
  }

  .div-hr-dividing {
    display: block !important;
    width: 100%;
    border-bottom: 2px solid var(--light-mode-lines-color);
  }

  .iframe-serchbar {
    height: 150px !important;
  }

  .section-flex-topics {
    justify-content: center;
  }

  .div-single-topic {
    width: 100%;
  }

  .div-single-topic {
    position: relative;
  }

  .img-single-topic {
    position: absolute;
    height: 150px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
  }

  .div-info-single-topic {
    height: fit-content;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
  }

  .div-info-single-topic > * {
    margin-left: 10px;
  }

  .fav-section {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
  }

  .div-rating-single-topic {
    margin-top: 36px;
  }

  .h3-title-single-topic {
    height: fit-content;
  }

  .section-topic-details {
    gap: 15px !important;
    background-color: transparent;
  }
  .div-topic-text-topic-details {
    display: flex;

    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
  }

  .p-topic-info-details {
    width: fit-content;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
  }

  .h5-text-type-topic-details {
    margin-top: 25px;
  }

  .section-table-info-details {
    width: 90%;
  }

  .div-img-btn-topic-details {
    width: 265px;
  }
}
