:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --heart-color: #dc143c;

  --light-mode-bg_default: #ffffff;
  --light-mode-bg_body: #f0f9ff;
  --light-mode-lines-color: #dddddd;
  --light-mode-body-text: #333333;

  --dark-mode-bg_default: #1a1a1a;
  --dark-mode-bg_body: #282828;
  --dark-mode-lines-color: #000000;
  --dark-mode-body-text: #ededed;

  --font-family-Nunito-Sans: "Nunito Sans", sans-serif;
}
